@import "./components/container";
@import "./components/page-header";


.section {
    padding-top: 24px;
    padding-bottom: 24px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 24px;
}



.backdrop {
  position: fixed;
  top: 0;
  left: 0;
//   width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px 30px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  display: none;
  pointer-events: none;
}


.modal {   
    padding: 20px;
    background-color: #fff;
  @media (min-width:600px) {
    position: absolute;
    top: 50%;
    left: 50%;
    w
    transform: translate(-50%, -50%);
  }
}










.features-set,
.reviews-set {
    list-style: none;
    padding: 0;
}

