


.site-nav {
    display: flex;
}

.site-nav__item {
    margin-right: 20px;
}

.site-nav__item:last-child {
    margin-right: 0;
}

.site-nav__link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: currentColor;
}

.site-nav__link:hover {
    color: tomato;
}

.site-nav__icon {
    
}

.site-nav__lable {

}










































.checkbox {
    appearance: none;
    position: absolute;
}

.field {
    display: flex;
    align-items: center;
}


.checkbox:checked + .icon {
    border-color: rgb(228, 213, 9);
    background-color: rgb(228, 213, 9);
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}

.icon {    
    display: inline-block;
    width: 16px;
    height: 16px;
    
    border: 2px solid #2a2a2a;
    border-radius: 4px;
}














.checkbox {
    -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
    position: absolute;
}

.lable1::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: brown;
}

.checkbox1:checked ~ .lable1::after {
    background-color: blueviolet;
}

