.checkbox3 {
    appearance: none;
    position: absolute;
}

.icon {    
    display: inline-block;
    width: 16px;
    height: 16px;
    
    border: 2px solid #2a2a2a;
    border-radius: 4px;
}

.checkbox:checked + .icon {
    background-color: rgb(228, 213, 9);
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}














.checkbox3 {
    appearance: none;
    position: absolute;
}

.lable1::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: brown;
}

.checkbox1:checked ~ .lable1::after {
    background-color: blueviolet;
}

