.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.label::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: brown;
 
  
}
